<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buscar niño</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/tracker.css">
  </head>
  <body>
    <h1>Bienvenido al supervisor en línea</h1>
    <div class="wrap">
       <div class="search">
         <form class="" action="/redirectToUser" method="post">
          <input type="text" name="username" class="searchTerm" placeholder="Ingrese el usuario de su niño">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
        </form>
       </div>
    </div>
  </body>
</html>
